.InitiativeTable {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.InitiativeTable .container {
  max-width: 800px;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.InitiativeTable .creature-block-panel {
  flex-grow: 1;
  overflow: auto;
  /* background: red; */
}

.controls-panel {
  /* height: 100%; */
  overflow: auto;
}

.table-controls {
  flex-grow: 0;
}

.table-container {
  flex-grow: 1;
  padding-left: 3px;
  padding-right: 3px;
  overflow: auto;
}

.InitiativeTable .initiative-table {
  width: 100%;
  overflow: auto;
}

.initiative-table tbody {
  overflow: auto;
}

.InitiativeTable .initiative-table tbody tr:hover {
  color: white;
  background: #009ba1;
}

.InitiativeTable .initiative-table tbody tr.active {
  color: white;
  background: #006064;
}

.InitiativeTable .initiative-table tbody tr.dead {
  color: white;
  background: rgb(160, 0, 0);
}
